# Игнорировать все файлы
*

# Но не игнорировать файлы с расширениями
!*.cpp
!*.h
!*.txt
!*.ppm
!*.p3
!*.bmp
!*.jpeg
!*.png
!*.tiff
!*.ico

# Исключение для .gitignore (чтобы файл не игнорировался)
!.gitignore